<style>
        body{
            display: flex;
            flex-direction: column;
            height: 100vh;
            background-color: black;
            flex-direction: column;
          
        }
        .heroSection{
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100vw;
            gap: 20px;
           
        }
        h1{
            font-size: 70px;
            color: #FF6A00;
        }
        p{
            width: 700px;
            text-align: center;
            line-height: 40px;
            letter-spacing: 1px;
            font-size: 20px;
        }

        div > a{
            text-decoration: none;
            color: white;
            border: 1px solid #FF6A00;
            padding: 20px;
            border-radius: 40px;
        }
    </style>
</head>
<body>
    
    <div class="heroSection">
        {% if user.is_authenticated %}
        <h1>Empower Your Pharmacy Today!</h1>
        <p>Welcome to PharmX, your one-stop solution for premium veterinary medicines. Whether you're a veterinary professional or a pet owner, managing your medicines has never been easier. Explore our wide range of products, and enjoy seamless control with features to create, update, and manage your inventory with ease.</p>
        <div style="display: flex; gap: 20px; margin-top: 20px;"> 
            <a href="{% url 'Creat-Product' %}">Add New Products</a>
            <a href="{% url 'All-Products' %}">View All Products</a>
        </div>
        {% else %}
        <h1>Empower Your Pharmacy Today!</h1>
        <p>Welcome to PharmX, your one-stop solution for premium veterinary medicines. Whether you're a veterinary professional or a pet owner, managing your medicines has never been easier. Explore our wide range of products, and enjoy seamless control with features to create, update, and manage your inventory with ease.</p>
        {% endif %}
    </div>
</body>